

.logoTitle{
    margin-right: auto;
    margin-left: auto;
    content: url(./assets/logo.png)
}

.naviMenu {
    margin-top: 3em;
}

.childMenu{
    display: inline;
    margin-right: 5em;
}

.contentView{
    margin-top: 5em;
}

.selectedUser{
    margin-bottom: 5em;
}

.formArea {
    display: inline-block;
}
.formArea .form {
    text-align: left;
    width: min(70vw, 650px);
    border-bottom: solid 2px #f0f0f0;
}

.form span{
    color : gray;
}

.formArea input {
    width: min(70vw, 650px);
    height: min(10vw, 60px);
    font-size: min(4vw, 36px);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.36px;
    text-align: left;
    color: #101010;
    border: none;
}


.btnArea {

}

th,td{
width: 10em;
}