

.title{
    margin-right: auto;
    margin-left: auto;
    content: url(./assets/logo.png)
}

.naviMenu {
    margin-top: 3em;
}

.childMenu{
    display: inline;
    margin-right: 5em;
}

.contentView{
    margin-top: 10em;
}

th,td{
width: 10em;
}